In [15]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_rel
from scipy.stats import ttest_1samp
df = pd.read_csv("Titan insurance.csv")

In [3]:
df.head(6)

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84
5            6                         73                         86

In [4]:
df["Old Scheme (in thousands)"].mean()

68.03333333333333

In [5]:
df["New Scheme (in thousands)"].mean()

72.03333333333333

In [11]:
# The level of significance (Alpha ) = 0.05
# N = 30 
# Population standard deviation (Sigma) is unknown. Hence T-test will be used.
# Inorder to determine whether the new scheme brought significant change in the output in comparision to the old scheme.
# Hence we use right tailed T-test.
# Formulation of Hypothesis: H0 : ùúáold ‚Äì ùúánew = 0, H1 : ùúáold ‚Äì ùúánew < 0 
Old_scheme = df["Old Scheme (in thousands)"]
New_scheme = df["New Scheme (in thousands)"]
ttest_pair= ttest_rel(Old_scheme,New_scheme)
ttest_pair

Ttest_relResult(statistic=-1.5559143823544377, pvalue=0.13057553961337662)

In [ ]:
##The findings are statistically insignificant because p-value is greater than 0.05. Hence, Failed to reject the null hypothesis.
## The new scheme did not raise the output significantly.

In [14]:
deg_freedom = (len(Old_scheme) + len(New_scheme)) - 1 
deg_freedom

59

In [ ]:
# The probability of Type I error which is predetermined by significance level.
# If the significance level is 0.05, then type I error is 0.05. i.e. 5% probability we make Type I error ‚Äì rejecting null hypothesis when it is true.

In [18]:
# p- value of the hypothesis test if we test for a difference of $5000
t_statistic, p_value = ttest_1samp(New_scheme - Old_scheme, 5000)
print ("paired t-test p-value=", p_value)

paired t-test p-value= 9.63108162511e-76

In [19]:
# Power of test:
(np.mean(Old_scheme) - np.mean(New_scheme)) / np.sqrt(((30-1)*np.var(Old_scheme)+(30-1)*np.var(New_scheme)) / 30+30-2)

-0.12909555513169643

In [26]:
from statsmodels.stats.power import ttest_power
print(ttest_power(-0.12, nobs=30, alpha=0.05, alternative='larger'))

0.0110962245354